<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webLean.dao.WechatReplyMapper" >
  <resultMap id="BaseResultMap" type="com.webLean.domain.WechatReply" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="picurl" property="picurl" jdbcType="VARCHAR" />
    <result column="linkurl" property="linkurl" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="checked" property="checked" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from v_wechat_reply
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.webLean.domain.WechatReply" >
    insert into v_wechat_reply (id, type, content, 
      parentid, title, description, 
      picurl, linkurl, createtime, 
      updatetime, checked)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{picurl,jdbcType=VARCHAR}, #{linkurl,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{checked,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.webLean.domain.WechatReply" >
    update v_wechat_reply
    set type = #{type,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      picurl = #{picurl,jdbcType=VARCHAR},
      linkurl = #{linkurl,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      checked = #{checked,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, type, content, parentid, title, description, picurl, linkurl, createtime, 
    updatetime, checked
    from v_wechat_reply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, type, content, parentid, title, description, picurl, linkurl, createtime, 
    updatetime, checked
    from v_wechat_reply
  </select>
</mapper>